*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color:  #5b4a9a;
    min-width: 100vh;  
    min-height: 100vh;
      
    
}

.contenedor-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;  /*El contenido reemplazado se escala para mantener su relación de aspecto mientras se ajusta dentro del cuadro de contenido del elemento*/
}

 /* --------------FIN DE ESTILOS GENERALES --------------------*/

 /* ----------------------ESTILOS AL CONTENIDO PRINCIPAL, HEADER Y NAV --------------*/

 .contenedor_principal{
     background-color: #fff;
     width: 90%;
     max-width: 1200px;
     margin: 40px auto;
     padding: 40px;
     border-radius: 10px;
     /* position: fixed;
     top: 0;
     left: 0;
     margin-left: 60px; */
     z-index: 0;

     /* display: flex;
     flex-flow: wrap;
     justify-content: center;
     flex-wrap: wrap;
      */
    


 }

 header{
     display: flex; /*Contenedor flex*/
     align-items: center; /*Elementos del cotenedor alineados*/
     justify-content: space-between; /*Solo espacio entre los elemntos, no around*/
     flex-wrap: wrap; /*puede haber cambio de línea.*/
     margin-bottom: 80px;
    
 }

 .logo{
    text-decoration: none;
     font-size: 25px;
     font-weight: 600;
     color: #000;
     transition: all  150ms ease-in;
 }

 .logo:hover {
    font-weight: 200;
 }

 .menu{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     
 }

 .menu a{
     font-size: 22px;
     border-bottom: 2px solid #f2c968;
     border-top: 2px solid #f2c968;
     padding: 8px;
     margin-left: 40px;
     text-decoration: none;
     color: black;
     transition: all  500ms ease;
 }

 .menu a:hover{
     border-top: none;
     border-bottom: none;
     border-left: 2px solid #f2c968 ;
     border-right: 2px solid #f2c968;
 }

 main{
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 main .contenedor-img {
    max-width: 60%;
    margin-right: 40px;
}
 

.contenedor-texto .titulo {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 40px;
}


.contenedor-texto p {
    margin-bottom: 40px;
    line-height: 36px;
}

.btn-link {
    display: inline-block;
    padding: 10px 30px;
   border-radius: 100px;
    margin-right: 10px;
    text-decoration: none;
    background: #f2f2f2;
}

.btn-link:hover,
.btn-link.activo {
   color: #fff;
   background: #5b4a9a;
}

.contenedor-texto .mascota {
    font-weight: normal;
    color: #c99806;
    font-style: normal;
}
/* ------------------------ESTILOS PARA EL SLIDE SHOW -------------------------*/

.contenedor_servicios{
	color: white;   
	width: 100%;
	min-height: 100vh;
	z-index: 100; /*Para mandarlo al frente zindex(100) > zindex(0)*/
    position: relative;/*Para que tega efecto el z index se debe colocar con una posicion relativa*/
    background-color: black;
    margin-top: 5vh;
    /* height: 800px; Altura de cada una de las secciones */

}


.contenedor_galeria .text_galeria{
    margin-bottom: 10px;
    padding: 0;
    font-size: 50px;
    text-align: center;
}

.contenedor_servicios .servicios{
    padding: 50px 0;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    /* background-color:brown */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    
}

.contenedor_servicios .text_servicios, .contenedor_galeria .text_galeria{
    margin-bottom: 10px;
    padding: 0;
    font-size: 50px;
    text-align: center;
}


.contenedor_servicios .servicios .slide{
    width: 30%;
    cursor: pointer;
    max-width: 600px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    margin: 25px 30px 20px 10px;
    text-align: center;
    
}

.contenedor_servicios .servicios .slide:before{
    left: -100%;
    top: 10px;
    

}

.contenedor_servicios .servicios .slide:after {
    left: 100%;
    bottom: 10px;
    
}

.contenedor_servicios .servicios .slide:before, .contenedor_servicios .servicios .slide:after  {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 4px;
  background: black;

  transition: all 300ms ;
}

.contenedor_servicios .servicios .slide img{
    width: 100%;
    
}

.contenedor_servicios .servicios .slide .slideText{
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    bottom: 100px; /*Importante propiedad*/

    transition: all 300ms;
    transform: scale(1.5);
    opacity: 0;
}
.contenedor_servicios .servicios .slide .slideText:hover{
    transform: scale(1);
    opacity: 1;
    
}
.contenedor_servicios .servicios .slide:hover:before, .contenedor_servicios .servicios .slide:hover:after{
    left: 15px;

}




/* ---------------------ESTILOS PARA LA GALERIA---------------------- */


.contenedor_galeria{
    color: white;   
	width: 100%;
	min-height: 100vh;
	z-index: 150; /*Para mandarlo al frente zindex(100) > zindex(0)*/
    position: relative;/*Para que tega efecto el z index se debe colocar con una posicion relativa*/
    background: rgb(238, 54, 192);
    height: 115vh; /*Altura de cada una de las secciones*/
}

.contenedor_galeria .galeria{
    width: 100%;
    height: 115vh;
    color: white;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5A8);
    background-size: 400% 400%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    animation: change 5s ease-in-out infinite;
    

}

.contenedor_galeria .galeria h2{
    margin: 10px;
}

.contenedor_galeria .galeria .parrafo{
    width: 35%;
    font-size: 25px;
    text-align: justify;
}

.contenedor_galeria .galeria a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid white;
    margin: 20px;
    font-size: 30px;
    padding: 40px 100px;
    transition: all 500ms ease-in;
    
}

.contenedor_galeria .galeria a:hover{
    background-color: black;
    color: white;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    
    100%{
        background-position: 0% 50%;
    }
}





/* MEDIAQUERYS PARA RESPONSIVE */
@media screen and (max-width: 925px) {
    main {
         flex-direction: column;
         text-align: center;
    }

    main .contenedor-img {
         margin-bottom: 40px;
    }

    header{
        justify-content: left;
    }
}

